@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.roboto {
  font-family: "Roboto Mono", serif;
}
@font-face {
  font-family: "Avantt";
  src: url(./../avantt-font-family-1737752230-0/AvanttTRIAL-Regular-BF6721a86b1a848.otf);
}
body {
  font-family: "Avantt";
  background: var(--Grey-2, rgba(215, 217, 221, 0.5));
}
.container {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px auto;
}
.bg-gred {
  position: relative;
  /* background: linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%); */
  transition: all 1 s ease-in-out !important;
  overflow: hidden;
}
.bg-gred::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  background: linear-gradient(150deg, #ffa280 0%, #8fd9d9 100%);
  transition: all 1s ease-in-out;
  border-radius: 27px;
  z-index: -1;
}
.bg-gred::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  background: linear-gradient(150deg, #ffa280 0%, #8fd9d9 100%);
  transition: all 01s ease-in-out;
  border-radius: 27px;
  z-index: -2;
}
.bg-gred:hover::after {
  transform: rotate(180deg);
}
.bg-gred:hover::before {
  transform: rotate(-180deg);
}

/* @keyframes AnimationName {
  0% {
    background: linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%);
  }
  50% {
    background: linear-gradient(10deg, #ffa280 0%, #8fd9d9 100%);
  }
  100% {
    background: linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%);
  }
} */
.bg-gred:hover {
  animation: AnimationName 3s ease infinite;
}
.border-bot {
  border-bottom: 1px solid transparent;
  border-image: 1px solid linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%);
  border-image-slice: 1;
}
/* .gred-hv:hover {
  border: var(--Gradient-02, linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%));
} */
@media (max-width: 1024px) {
  .container {
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media (max-width: 639px) {
    .swiper-pagination-bullet {
      background: white !important;
    }
  }
}
@media (max-width: 359px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.border-gred-linear {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%);
  border-image-slice: 1;
}

.text-gredient {
  background: linear-gradient(90deg, #ffa280 0%, #8fd9cb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gred-hv:hover {
  background: linear-gradient(90deg, #ffa280 0%, #8fd9cb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* slider */
